# OS
Thumbs.db
Desktop.ini
.DS_Store

# Editor
.vscode/
.idea/
*.swp

# Output FRAMEFORGE (hasil unduhan, bukan source)
*.zip
*_anim/
frames/
out/
dist/

# Node (hanya bila nanti dipakai untuk server statis)
node_modules/
npm-debug.log*
